<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.callor.school.pesistance.DayHealthDao">
	<select id="selectAll" resultType="DayHealthVO">
		SELECT * FROM tbl_dayhealth
	</select>
	<select id="findByUsername" resultType="DayHealthVO">
		SELECT * FROM tbl_dayhealth where my_username = #{my_username}
	</select>

 	<select id="create_mypage_dayhealth">
 		CREATE TABLE tbl_dayhealth (
 			my_seq          NUMBER          PRIMARY KEY,
 			my_username		nVARCHAR2(50)   NOT NULL,
 			my_list         nVARCHAR2(50)   NOT NULL,
 			my_date			VARCHAR2(15)	NOT NULL,
			my_weight		VARCHAR2(15)	NOT NULL,
			my_rep			VARCHAR2(15)	NOT NULL
 		)
 	</select>

	
	<insert id="insert" parameterType="DayHealthVO">
		INSERT INTO tbl_dayhealth
			(
				my_seq,
				my_username, 
				my_list,
				my_date, 
				my_weight, 
				my_rep
			) VALUES (
				seq_dayhealth.nextval,
				#{my_username},
				#{my_list},  
				#{my_date}, 
				#{my_weight},
				#{my_rep}
			)
	</insert>
	<!-- 
	<update id="update" parameterType="UserVO">
		UPDATE tbl_user SET
				password = #{password}, 
				name = #{name},
				email = #{email},
				gender = #{gender},
				role = #{role}
		WHERE username = #{username} 
	</update>
	<delete id="delete">
		DELETE FROM tbl_user WHERE username = #{username}
	</delete>
  -->
 
 
 
 </mapper>





