<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.callor.school.pesistance.DaySetDao">
	<select id="selectAll" resultType="DaySetVO">
		SELECT * FROM tbl_dayset
	</select>

	<!-- <select id="create_dayset_table">
		CREATE TABLE tbl_dayset (
			ds_seq 		NUMBER 			PRIMARY KEY,
			ds_username 	VARCHAR2(10) 	NOT NULL,
			ds_date 		VARCHAR2(15)	NOT NULL,
			ds_daysetid 	nVARCHAR2(90) 	NOT NULL,
			ds_dayhealthid nVARCHAR2(90) NOT NULL,
			ds_kind nVARCHAR2(90) NOT NULL,
			ds_set nVARCHAR2(90) NOT NULL,
			ds_weight nVARCHAR2(90) NOT NULL,
			ds_rep nVARCHAR2(90) NOT NULL,
			
		)
	</select> -->

	<select id="findById" resultType="DaySetVO">
		SELECT * FROM tbl_dayset WHERE
		daysh_seq = #{daysh_seq}
	</select>

	<insert id="insert" parameterType="DaySetVO">
		INSERT INTO tbl_dayset
		(
		daysh_seq,
		daysh_username,
		daysh_date,
		daysh_daysetid,
		daysh_dayhealthid
		) VALUES (
		#{daysh_seq},
		#{daysh_username},
		#{daysh_date},
		#{daysh_daysetid},
		#{daysh_dayhealthid}
		)
	</insert>
	<update id="update" parameterType="DaySetVO">
		UPDATE tbl_dayset SET
		password = #{password},
		name = #{name},
		email = #{email},
		gender = #{gender},
		role = #{role}
		WHERE username = #{username}
	</update>
	<delete id="delete">
		DELETE FROM tbl_dayset WHERE username = #{username}
	</delete> 
</mapper>





