<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.callor.school.pesistance.NotionDao">
	
	<insert id="insert" parameterType="NotionVO">
		<selectKey keyProperty="no_seq" resultType="Long" order="BEFORE">
			SELECT seq_notion.NEXTVAL FROM DUAL			
		</selectKey>
		INSERT INTO tbl_notion(
			no_seq, no_date, no_time, no_writer, no_subject, no_content
			) VALUES(
			#{no_seq}, #{no_date}, #{no_time}, #{no_writer},  #{no_subject}, #{no_content}
			)
	</insert>
	

	<select id="create_notion_table">
		CREATE TABLE tbl_notion (
			no_seq		NUMBER			PRIMARY KEY,
			no_date		VARCHAR2(10)	NOT NULL,
			no_time		VARCHAR2(10)	NOT NULL,
			no_writer	VARCHAR2(125)	NOT NULL,
			no_subject	nVARCHAR2(125)	NOT NULL,	
			no_content	nVARCHAR2(1000)	NOT NULL
	</select>
	
	<select id="create_notion_seq">
		CREATE SEQUENCE seq_notion
		INCREMENT BY 1 START WITH 1
	</select>
	
	<select id="selectAll" resultType="NotionVO">
		SELECT * FROM tbl_notion
	</select>


<!-- 
	<select id="findById" resultType="NotionVO">
		SELECT * FROM tbl_notion WHERE
		notion_seq = #{notion_seq}
	</select>
 <insert id="insert" parameterType="DaySHVO">
		INSERT INTO tbl_daysh
		(
		daysh_seq,
		daysh_username,
		daysh_date,
		daysh_daysetid,
		daysh_dayhealthid
		) VALUES (
		#{daysh_seq},
		#{daysh_username},
		#{daysh_date},
		#{daysh_daysetid},
		#{daysh_dayhealthid}
		)
	</insert>
	<update id="update" parameterType="DaySHVO">
		UPDATE tbl_user SET
		password = #{password},
		name = #{name},
		email = #{email},
		gender = #{gender},
		role = #{role}
		WHERE username = #{username}
	</update>
	<delete id="delete">
		DELETE FROM tbl_user WHERE username = #{username}
	</delete> 
 -->
 </mapper>





